<div id="activity_view_<?$activity_id?>" class=' <?$class?>'>
	<div class="row commentor-block" style="margin-top:3px;">
		<div class='col-md-2'>
			<div ><?profile_pic?>profile_pic<?/profile_pic?>
			</div>			
		</div>
		<div class='col-md-10'>
			<div class='row'>
				<div class='col-md-12'>
				<span>
				<b>
				<?from_member?>commentor_name<?/from_member?>
				</b>
				</span>
				<div id='comment-text-<?$activity_id?>'><?$activity_detail?></div>
				</div>
				<?comment_img_block?>
				<div>
				<img src='<?$img?>' width="100px" height="100px"/></div>
				<?/comment_img_block?>
			</div>
		
			<div class='row'>
				<div class='col-md-8'>
					<?like_button?>
							<a href='#likeAction' id='like_for_<?$activity_id?>' onclick='$(this).univ().like_me(<?$activity_id?>)'><?like_status?>Oops<?/like_status?></a>
							<?/like_button?>
				</div>
			<?edit_delete_block?>
				<div class="col-md-3 text-right">
					<b class="activity-cursor">
						<?edit?>
						<a href='#editAction' id='edit_for_<?$activity_id?>' onclick='$(this).univ().editComment(<?$activity_id?>)'><span class="glyphicon glyphicon-pencil show-tooltip" data-toggle="tooltip" title="Edit"  data-placement="bottom"></span></a>
						<?/edit?>
					</b>
					<b class="activity-cursor"><?delete_button?>
							<a href='#removeAction' id='remove_for_<?$activity_id?>' onclick='$(this).univ().remove_me(<?$activity_id?>)'><span class="glyphicon glyphicon-remove show-tooltip" data-toggle="tooltip" title="Delete"  data-placement="bottom"></span></a>
							<?/delete_button?>
					</b>
				</div>
			<?/edit_delete_block?>
			</div>
		</div>
	</div>
	</div>

