<div id='<?$_name?>'>
	<?$Content?>

	<div><h1 class="text-success">Photos</h1></div>
	<div class="row">
	<?rows?>
		<?row?>
			<div class="col-md-3">
			<span  class="uploded-photo thumbnail" data-toggle="modal" data-target="#myModal_<?$id?>">
				       <img src="<?$img?>"/>
				</span>
				</div>
				<!-- Modal -->
				<div class="modal fade" id="myModal_<?$id?>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				        <h4 class="modal-title" id="myModalLabel"></h4>
				      </div>
				      <div class="modal-body">
				       <img style="max-width:100%; position:relative; width:100%" src="<?img?>  <?/img?>"/>
				      </div>
				      <div class="modal-footer">
				              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				              
				            </div>
				    </div>
				  </div>

				</div>
		<?/row?>
		<?/rows?>
		</div>
		</div>
	</div>