<style>
	.news-img > img {
		width:3em;
		max-width:100;
		height:3em;
		float:left;
		padding-right:0.1em;
	}
	.news-img{
		width:3.2em%;
		float:left;
		padding:0.1em 0 0.1em 0;
		border:1px solid white;
	}
	#picdiv{
		display:none;
		position:absolute;
		background-color:#f2f2f2;
	}
	
</style>
<div id='<?$_name?>' class="main_div well">
	<?$Content?>
			
	<div id='<?$_name?>_carousel' class='<?$class?> newscarousel slide' data-ride="carousel">
				<div class='carousel-inner'>
					<?rows?>
					<?row?>
					
					<div class='item <?$active_class?>'>
					<div class="row">
						<div class="col-md-4 col-sm-4 col-lg-4">
							<a  href='<?$link?>' target='_blank' >
							<img   style="width:100%" src='<?news_img?>logo.png<?/news_img?>'/>
						</a>	
						</div>
						<div class="col-md-8 col-sm-8 col-lg-8">
							<div>
								<?news?>hi<?/news?>
							</div>	
						</div>
					</div>
				</div>
					<?/row?>
					<?/rows?>
				</div>
			</div>
</div>
