<script type="text/javascript" src="epan-components/xsocialApp/templates/js/addfixed.js"></script>
<div id='<?$_name?>'>
	
			<div class="rightSidebar ">
				<div class="theiaStickySidebar">
					<div class="box">						
							<div id='<?$_name?>_carousel' class='<?$class?> carousel slide' data-ride="carousel">
		<h3 style="display:none;">
			<?name?>name<?/name?>
		</h3>
		<div class='carousel-inner'>
			<?rows?>
			<?row?>
			<div class='item <?$active_class?> well well-sm'>
				<a  href='<?$link?>' target='_blank' >
					<img   style="width:100%"; src='<?blockimg?>logo.png<?/blockimg?>'/>
				</a>
			</div>
			<?/row?>
			<?/rows?>
		</div>
	</div>
				